# Python
*.pyc
*.pyo
__pycache__/
*.sqlite3

# Virtual environment
.venv/
venv/

# Django specific
*.log
*.pot
*.py[cod]
db.sqlite3
media/
staticfiles/
local_settings.py

# dotenv
.env

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

# Byte-compiled / optimized / DLL files
*.so
*.egg
*.egg-info/
dist/
build/